<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="baselConnectionString" connectionString="Data Source=DESKTOP-53H0S93\SQLEXPRESS;Initial Catalog=basel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="baselConnectionString2" connectionString="Data Source=DESKTOP-53H0S93\SQLEXPRESS;Initial Catalog=basel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>